h1{
    color: red;
}
.header{
    background-color:$colorPrincipal;

}

h2{
    font-size: 30px;
}

.gridindex {
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
    background-color: $colorSecundario;

}

.seccionmedio{
    align-items: center;
    padding-right: 15px;
    color: bisque;
    &:hover{
        color: brown;
        font-size: 25px;
    }

}
