/*botones inicio*/
a:hover {
  font-weight: bold;
  background-color: red;
  color: #7f14dc; }
a:link {
  text-decoration: none;
  color: chartreuse; }
a:visited {
  color: aqua; }
a:active {
  background-color: darkmagenta;
  color: darkgoldenrod; } }
  
/*fin botones inicio*/
*{
  margin: 0;
  padding: 0;
  
}
/*navegador*/
 .header{
   z-index: 1000;
   background-color: rgb(9, 9, 9);
   position:sticky;
   top: 0%;
 }
 
 .logo{
   width: 3rem;
   height: 3rem;
   justify-items: left;
  
 }

 .menu a {
   text-decoration: none;
   color: #9ad4b0;
   font-weight: 800;
   font-size: 0,7rem;

   
 }
 menu li{
   list-style-type: none;
   align-items: flex-end;
 }
 .contenedorlogo{
   align-self: center;
   justify-items: right;

 }
 /*mitad de pagina*/
 .main{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: burlywood;
   
 }
 .titulo1 {
  margin-top: 2rem;
margin-bottom: 2rem;
font-size: 1,7rem;
text-align: center;
color: #0e0e0e;
font-style: italic;  }

.cprincipal{
  margin-top: 1,5rem;
  margin-bottom: 1,5rem;
  width: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
   }
   .cprincipal img{
     width: 20rem;
     border-radius: 10px;
   }
   .changuito{
    width: 100rem;
    border-radius: 10px;
   }
   .titulopago{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 70%;
     font-family: Arial, Helvetica, sans-serif;
     margin-bottom: 0.5rem;
   }


  /*footer*/
  .footer{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    background-color: #0e0e0e;
    padding-top: 00.5rem;
    width: 100%;

  }
  .imagenfinal{
    width:  4rem;
  }
.footer1{
  text-align: right;
  align-items: flex-end;
  color: aliceblue;
  align-self: center;
}
.redessociales a{
  text-decoration: none;
  color: blue;
  background-color: aqua;
  margin: 0,5rem;
  text-align: right;
}
/* whatapp*/
.newhat{
  z-index: 1000;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  flex-direction: column;
  align-items: center;
}
.newhat img{
  width: 2rem;
  height: 2rem;
  

}

.newhat h4{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  color: rgb(38, 160, 22);
  font-size: medium;
}
/* formulario*/
.formulario{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/*
@charset "UTF-8";
.section img {
  width: 200px;
  height: 200px; }

.section img {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px; }

.seccionmedio h2 {
  text-align: center; }

.contenedor-menu {
  background-color: rgb(3, 3, 3);
  gap: 1rem;
  justify-content: flex-end; }
  .contenedor-menu img {
    background-color: #0c0b0b;
    display: flex;
    justify-content: space-around;
    width: 10%; }
  .contenedor-menu li {
    display: inline-block;
    list-style-type: none;
    padding-right: 10px; }
  .contenedor-menu a {
    text-decoration: none;
    color: #ddc3a1; }

.seccionmedio {
  background-color: bisque;
  grid-area: main;
  padding: 50px;
  text-align: center;
  display: block;
  justify-content: flex-start;
  align-self: center; }
  .seccionmedio div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 800px;
    align-items: center;
    align-content: center;
    text-align: center; }
  .seccionmedio h1 {
    padding-bottom: 20px;
    color: red;
    text-align: center;
    color: indianred;
    font-style: italic;
    grid-area: auto;
    justify-self: center; }
  .seccionmedio p {
    padding-right: 15px;
    color: red; }
    .seccionmedio p:hover {
      color: yellow;
      font-size: 25px; }
  .seccionmedio .imagenpagos {
    width: 100px;
    height: 100px; }

.footer {
  text-align: left;
  background-color: #010a0a;
  display: flex;
  justify-content: space-around; }
  .footer img {
    width: 1%;
    display: flex;
    justify-content: center; }
  .footer p {
    text-align: right;
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: flex-end;
    color: azure; }

.gridindex {
  background-color: #ebdfab;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.15fr 3fr 0.25fr;
  justify-items: stretch;
  justify-content: stretch;
  align-items: stretch;
  grid-template-areas: "header header"
 "nav  nav"
 "footer footer "; }

.contenedor-menu {
  grid-area: header; }

.seccionmedio {
  grid-area: nav; }

.footercolor {
  grid-area: footer; }
  */

/* tamaño  celular */
/*
@media screen and (max-width: 768px) {
  .gridindex {
    background-color: #abebb6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 3fr 0.25fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-template-areas: "header "
 "nav  "
 "footer  "; }
  
  .footercolor {
    background-color: #a35f07;
    display: flex;
    justify-content: space-around; }
  .contenedor-menu {
    background-color: #a35f07;
    display: flex;
    justify-content: space-around; } }
    */

/* tamaño web*/
/*
@media screen and (min-width: 1100px) {
  .gridindex {
    background-color: #090a0a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-areas: "header  "
 "nav  "
 "footer   "; } }

@media screen and (min-width: 1100px) and (max-width: 1100px) {
  .gridindex {
    background-color: #090a0a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.15fr 3fr 0.25fr;
    justify-items: left;
    justify-content: left;
    align-items: left;
    grid-template-areas: "header header "
 "nav  nav"
 "footer footer  "; }
  .titulo1 {
    text-align: center;
    color: #a59ad4;
    font-style: italic; }
  .footercolor {
    background-color: #0a0602;
    display: flex;
    justify-content: space-around; }
  .contenedor-menu {
    background-color: #080808;
    display: flex;
    justify-content: space-around; } }

@media screen and (min-width: 1100px) {
  /* tamaño pequeñas pamntallas */ }
  /*

@media screen and (min-width: 1100px) and (max-width: 480px) {
  .gridindex {
    background-color: #ebabab;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.15fr 3fr 0.25fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-template-areas: "header nav "
 " header nav"
 "footer footer  "; }
  .titulo1 {
    text-align: center;
    color: #9ad4b0;
    font-style: initial; }
  .footercolor {
    background-color: #0a0602;
    display: flex;
    justify-content: center; }
  .contenedor-menu {
    background-color: #080808;
    display: flex;
    justify-content: center; } }

    */

@media screen and (min-width: 1100px) {
  /* a:*/
  
